* {
    box-sizing: border-box;
}

.carousel {
    position: relative;
    width: 1000px;
    height: 400px;
    perspective: 500px;
    transform-style: preserve-3d;
}

.card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform:
        rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
}

.card {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-image: linear-gradient(180deg, transparent 0%, #99eb5f77 50%);
    border-radius: 10px;
    color: red;
    text-align: justify;
    transition: all 0.3s ease-out;

    p,
    h2 {
        transition: all 0.3s ease-out;
        opacity: var(--active);
    }
}
.card .descriptionText {
    width: 80%;
}

.nav {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;


    &.left {
        transform: translateX(-80%) translatey(-50%);
    }

    &.right {
        right: 0;
        transform: translateX(80%) translatey(-50%);
    }
}

@media only screen and (max-width: 1300px) {

    .carousel {
        position: relative;
        width: 650px;
        height: 400px;
        perspective: 500px;
        transform-style: preserve-3d;
    }

    .card .descriptionText {
        font-size: 18px !important;
        width: 80%;
    }

}

@media screen and (max-width: 800px) {
    .carousel {
        position: relative;
        width: 330px;
        height: 200px;
        perspective: 160px;
        transform-style: preserve-3d;
    }

    .card .descriptionText {
        font-size: 12px !important;
        width: 80% !important  ;
    }
    .nav {
        width: 60px;
    }

}

@media screen and (max-width: 500px) {
    .carousel {
        height: 170px;
        width: 280px;
        perspective: 100px;
        transform-style: preserve-3d;
    }

    .card .descriptionText {
        font-size: 10px !important;
        display: none;
    }
        .nav {
            width: 60px;
        }

        .card .image-container:hover .image {


            filter: blur(0px) !important ;
            cursor: pointer;
        }
}