@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Inter', sans-serif;

  background-color: #260B46;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em red);
  cursor: pointer;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.presentation p {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;

}

.presentation h1 {
  font-size: 46px;
  font-weight: 400;
  padding: 30px;
  text-transform: uppercase;
}

.presentation #me {
  display: inline;
  width: 40%;
}

.presentation div {
  display: flex;
  justify-content: center;
}

.presentation img {
  width:50%;
  height: 50%;
}

#usercentric {
  width: 32%;
  height: 30%;
}

#usercentricText p {
  width: 45%;
}

#usercentricText {

  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

.presentation {
  margin: 50px;


}







/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  padding: 50px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navItem {
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.navItem:hover {
  border-left: 4px solid #fff; 
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}
.navLink:hover {
  padding-left: 20px;
}

.mySkills {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.mySkills p {
  margin-bottom: 10px;
  width: 70%;
  padding: 0;
}

.mySkills ul {
  list-style-type: none;
  padding: 0;
  width: 70%;
}

.mySkills li {
  margin-bottom: 10px;
  line-height: 1.5;
  
}
.mySkills h3 {
 font-size: 25px;
  margin: 0;
}
#line {
  height: 1px;
  width: 120%;
  background-color: white;
}

.mySkills li strong {
  margin-right: 5px;
  font-weight: 700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.mySkills .column {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 4px;
  flex-wrap: wrap;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  height: 15vh;
  width: 15vh;
}
#sql {
  height: auto;
  width: auto
}

.mySkills div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mySkills .MySkillstext{
  display: flex;
  align-items: start;
  padding-left: 50px;
}
/* Add these styles to your existing CSS or create a new CSS file */

form {
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  color: #fff;
  background-color: #260B46;
  padding: 10px 15px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: white;
}
