@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: 'Inter', sans-serif;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.presentation p {
  width: 80%;
  font-size: 20px;
}
.presentation h1 {
  font-size: 46px;
  border-bottom: solid 1px;
}
.presentation #me {
  display: inline;
}
.presentation div {
  display: flex;
}
.presentation img {
  margin: auto;
  width: 50vw;
  height: 50vh;
}
.presentation {
  margin-top: 100px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navItem {
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: #000000; 
  font-weight: bold;
  text-align: center;
}
