@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Inter', sans-serif;
  line-height: 2;
  background-color: #260B46;
  color: white;
}

.logo {
  height: 6em;
  will-change: filter;
  object-fit: cover;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em red);
  cursor: pointer;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.presentation p {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;

}

.presentation h1 {
  font-size: 46px;
  font-weight: 400;
  padding: 30px;
  text-transform: uppercase;
}

.presentation #me {
  display: inline;
  width: 40%;
}

.presentation div {
  display: flex;
  justify-content: space-around;
}

.presentation img {
  width: 35vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;

}

#usercentric {
  width: 33%;
  height: 33%;
  object-fit: cover;
}

#usercentricText p {
  width: 45%;
}

#usercentricText {

  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.presentation {
  margin: 50px;


}







/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  padding: 50px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navItem {
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.navItem:hover {
  border-left: 4px solid #fff;
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  font-size: 24px;

}

.navLink:hover {
  padding-left: 20px;
}

/* hamburger menu*/

#menu-wrapper {
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  display: none;
}

ul { list-style: none; }
a { text-decoration: none; color: black;}

#menu-wrapper #hamburger-menu {
  position: relative;
  width: 50px;
  height: 20px;
  margin: 15px;
}

#menu-wrapper #hamburger-menu span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: black;
  background-color: white;
  position: absolute;
  transform: rotate(0deg);
  transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
  transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
  padding-top: 20px;
  padding-bottom: 20px;
}
#menu-container .menu-list {
  padding-left: 0;
  display: block;
  position: absolute;
  width: 100%;
  max-width: 450px;
  background: white;
  box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
  border-top: 0;
}
#menu-container .menu-list {
  transition: right 0.4s ease; 
}

@media (max-width: 1300px) {
.navList {
  display: none;

}
#menu-wrapper {
  display: flex;
}
.navbar {
  justify-content: space-between;
}

}
/*  end hamburger menu*/

.mySkills {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.mySkills p {
  margin-bottom: 10px;
  padding: 0;
}

.mySkills ul {
  list-style-type: none;
  padding: 0;
}

.mySkills li {
  margin-bottom: 10px;
  line-height: 1.5;

}

.mySkills h3 {
  font-size: 25px;
  margin: 0;
}

#line {
  height: 1px;
  width: 120%;
  background-color: white;
}

.mySkills li strong {
  margin-right: 5px;
  font-weight: 700;
}

.row {
  margin-top: 351px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  height: 600px;
}

.mySkills .column {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 4px;
  flex-wrap: wrap;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  height: 80px;
  width: 80px;
  object-fit: cover;

}



.mySkills div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}



.mySkills .MySkillstext {
  display: flex;
  align-items: start;
  padding-left: 50px;
}

.logo-container {
  text-align: center;
  padding: 30px;
}

.logo-container p {

  border: solid 1px white;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;

}

form {
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  color: #fff;
  background-color: #260B46;
  padding: 10px 15px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: white;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.card .image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.5s ease;

}

.card .image-container  {
  width: 100%;
  height: 100%;

}

.card .image-container:hover .image {
  filter: blur(5px);
  cursor: pointer;
}
.card .descriptionText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.5s ease; 
  font-size: 20px;

}

.card .image-container:hover  .descriptionText {
  opacity: 1; 
  cursor: pointer;
}
